// background colors
$bg-gray: #f8f8f8;
$bg-white: #ffffff;

// text color
$text-black: #010103;
$text-orange: #e2f8f9;
$btn-black: #161616;
$text-gray: #706f7b;
$border-gray: #ccc;
$primary-color: #3B719F;
